<div class="table-responsive d-none d-lg-flex flex-column">
  <table class="table table-hover">
    <thead>
    <tr>
      <th >#</th>
      <th >First</th>
      <th >Last</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th >1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th >2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th >3</th>
      <td colspan="2">Larry the Bird</td>
    </tr>
    </tbody>
  </table>
</div>


<table class="table table-hover d-lg-none">
  <tbody>
  <tr>
    <th >1 </br> Mark</th>
    <td>Otto</td>
  </tr>
</table>

