<div class="input-group mb-3 row justify-content-end" id="#searching">
  <input class="form-control col-2" type="text" placeholder="Search" id="#search-input" style="background: white">
  <div class="input-group-append" style="background: white">
  <span class="input-group">
    <img src="/assets/search-mono.svg" alt="?" style="width: 20px; margin-right: 10px; background: white"/>
  </span>
  </div>
</div>
<div class="table-responsive d-none d-lg-flex flex-column">
  <table class="table table-hover">
    <thead>
    <tr>
      <th >Customer</th>
      <th >Product</th>
      <th >PAGE</th>
    </tr>
    </thead>
    <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td ><%= subscription.customer.email %></td>
        <td ><%= subscription.product.name %></td>
        <td ><%=time_ago_in_words(subscription.subscribed_at)%> ago</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @subscriptions %>
</div>


<table class="table table-hover d-lg-none">
  <tbody>
  <tr>
    <th >1 </br> Mark</th>
    <td>Otto</td>
  </tr>
</table>

